/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Imagen y link */
.image-link {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    -webkit-tap-highlight-color: transparent; /* Evita el recuadro azul en dispositivos móviles */
}

.image-link img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.image-link:focus {
    outline: none;
}

.image-link:active {
    outline: none;
    border: none;
}

.image-link:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}
